html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;

    &::placeholder {
        color: $text-light-color;
    }
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul,
ol {
    list-style: none;
}