$font: 'Poppins',
sans-serif;
$header-height: 100px;

$purple-color: #BA71DA;
$red-color: #F76570;
$blue-color: #14B9D5;
$green-color: #1BBC9B;
$yellow-color: #FFD205;
$white-color: #FFFFFF;


$heading-color: #555555;
$text-color: #9A9A9A;
$text-light-color: #DADADA;
$border-color: #F1F1F1;