.discover {
    margin-bottom: 60px;

    &__container {
        display: flex;
        align-items: center;
    }

    &__item {
        width: 50%;
        text-align: center;
        padding: 60px 0;

        background-size: cover;
        background-position: center;

        &-sub {
            color: $white-color;
            margin-bottom: 15px;
        }

        &-heading {
            margin-bottom: 25px;
            color: $white-color;
        }
    }
}

@media screen and (max-width: 1279px) {
    .discover__container {
        flex-direction: column;
    }

    .discover__item {
        width: 100%;
    }
}